body{
    background-image:linear-gradient(rgb(242, 119, 119),rgb(218, 186, 128),rgb(224, 224, 105));
}
#titulo {
    text-align: center;
    font-size: 50px;
    color: rgb(235, 223, 223);
}
.text {
    text-align: justify;
    color: brown;
    font-size: 30px;
}
#imagem {
    height: 550px;
    width: 550px;
    padding: 15px;
    margin: 105px;
    border:2px solid rgb(213, 200, 200);

}
.tilulo{
    background-color: rgb(184, 174, 174);
}

.lista{
    font-size: 35px;
    text-align:center;
    list-style-position: inside;
}