body{
    background-image:linear-gradient(red,orange,yellow)
}
#titulo{
    text-align:center;
    font-size:40px;
    color:red;
}
.text{
    text-align:justify;
    color:brown;
    font-size:30px;
}
#imagem{
    height: 550px;
    width: 550px;
    padding: 15px;
    margin: 105px;
    border: solid;

}
.tilulo{
    background-color: brown;
}